/* import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* css begin here */
body{
    font-family: 'Roboto', sans-serif;
}
@keyframes bganim {
  0% {
    background-color: rgb(22,179,172);
  }
  50% {
    background-color: rgb(210,220,2);
  }
  100% {
    background-color: rgb(22,179,172);
  }
}

.form-control{
  max-width:600px;
  width:90%;
}
.copyright{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    flex-grow: 1;
    width: 100vw;
    background-color: rgb(22,179,172);
    animation: bganim 10s infinite;
    padding: 10px;
    color: #000;
    font-size: 0.8rem;
}

.page-content{
  width: 100vw;
  height:100vh;
  display:flex;
  flex-direction:row;
}

.login-sidebar{
    background-color: #EEFBFF;
    width: 35%;
    display:flex;
    flex-direction:column;
}

.login-form{
    float: left;
    width: 100vw;
    display:flex;
    flex-direction:column;
}

.logo img{
    margin-top: 96px;
    margin-right: 19px;
    margin-bottom: 155px;
}

.login-illustrator{
    margin-bottom: 24vh;
}

.login-form-content{
    flex:1;
    justify-content: center;
    display:flex;
    flex-direction: column;
    padding:40px;	
}

.login-form-content h1{
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 57.28px;
    letter-spacing: 1.5%;
    color: #2C6693;
}

.login-form-content h2{
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: 42.96px;
}

.login-form-content form{
    margin-top: 53px;
}

.login-form-content .form-control{
    height: 48px;
    border-radius: 8px;
    border: 0;
    background-color: #EFEFEF;
    font-size: 18px;
}

.btn-login{
    width: 141px;
    height: 47px;
    background-color: #2C6693;
    color: white;
    border: 0;
    border-radius: 8px;
}
@media only screen and (max-width:360px){
  .login-sidebar{
    display:none;
  }
  .copyright{
    font-size:0.7rem;
  }
}
@media only screen and (max-width: 768px) {
    body{
        background-color: #EEFBFF;
    }
    .logo{
        position: absolute;
        margin: 0 60px;
    }

    .login-form{
    }

    .login-form h1{
        font-size: 28px;
    }

    .login-form h2{
        font-size: 20px;
        margin-top: -15px;
        margin-bottom: -20px;
    }

    .login-form-content .form-control{
        height: 40px;
    }

    .btn-login{
        width: 141px;
        height: 40px;
    }

    .login-illustrator{
        display: none;
    }
  }
